.button {
  padding: 5px 20px;
  border: none;
  font-size: 14px;
  color: #ffffff;
  background: #000000;

  &:hover {
    cursor: pointer;
  }

  &--success {
    background-color: #519f03;

    &:hover {
      background-color: #61af13;
    }
  }

  &--error {
    background-color: #9f2903;

    &:hover {
      background-color: #af3913;
    }
  }
}